.projectMainContainer {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.274);
  height: 100vh;
  width: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
}

.projectPageContainer {
  position: absolute;
  bottom: 0;
  background-color: var(--white-color);
  height: 88%;
  width: 88%;
  border-radius: 80px 80px 0 0;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.projectDetails {
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.projectDetails h1 {
  font-size: 4rem;
  color: var(--cyan-color);
  font-weight: 700;
  font-family: var(--title-font);
  margin: 0;
}

.projectDetails h2 {
  font-size: 3rem;
  color: var(--cyan-color);
  font-weight: 700;
  font-family: var(--title-font);
  margin: 40px 0;
}

.projectDetails p {
  font-size: 1.875rem;
  color: var(--dark-cyan-color);
  font-weight: 400;
  font-family: var(--text-font);
  margin: 0;
}

.statusContainer, .status{
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusContainer {
  margin: 30px 0;
  gap: 40px;
  flex-wrap: wrap;
}

.status{
  gap: 15px;
}

.status div{
  height: 30px;
  width: 30px;
  border: 3px solid var(--dark-cyan-color);
  border-radius: 50%;
}

.statusUnchecked {
  background-color: var(--white-color);
}

.statusChecked {
  background-color: var(--dark-cyan-color);
}

.picturesWrapper {
  position: relative;
}

.overflow {
  justify-content: flex-start; 
}

.noOverflow {
  justify-content: center;
}

.picturesContainer {
  display: flex;
  gap: 40px;
  overflow-x: auto;
  margin-top: 50px;
  scrollbar-width: none;
  justify-content: flex-start; 
}

.picturesContainer::-webkit-scrollbar {
  display: none;
}

.picture {
  flex: 0 0 auto;
  width: 505px;
  height: 300px; 
  object-fit: cover;
  border-top-left-radius: 90px;
}

.picturesContainer a:first-child {
  margin-left: 65px;
}

.picturesContainer a:last-child {
  margin-right: 65px;
}

.scrollButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
  z-index: 10; 
  transition: filter 0.5s ease;
}

.scrollButton:hover{
  filter: contrast(0.8);
}

.scrollButton img{
  height: 30px;
  width: 30px;
  margin: 0;
}

.scrollButtonRight {
  right: 0; 
  border-radius: 50px 0 0 50px;
}

.scrollButtonRight img {
  transform: rotate(180deg);
}

.scrollButtonLeft {
  left: 0; 
  border-radius: 0 50px 50px 0;
}

.teamContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.closePageButtonContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 15px 0;
  position: relative;
}

.closePageButtonContainer::after{
  content: '';
  width: 100%;
  height: 30px;
  background-color: aqua;
  position: absolute;
  bottom: -44px;
  background: linear-gradient(to bottom,  rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  z-index: 10;
}

.closePageButton{
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.closePageButton p{
  font-size: 33px;
  margin: 0;
  font-family: var(--title-font);
  font-weight: bold;
  color: var(--orange-color);
}

.closePageButton:hover{
  background-color: var(--orange-transparent-color);
}

@media (max-width: 1200px){
  .projectPageContainer {
    height: 92%;
    width: 90%;
    padding: 45px;
    border-radius: 60px 60px 0 0;
  }

  .projectDetails p {
    font-size: 1.5rem;
  }  

  .status div{
    height: 25px;
    width: 25px;
  }

  .statusContainer {
    gap: 20px;
  }
  
  .status{
    gap: 10px;
  }

  .projectDetails h1 {
    font-size: 3.5rem;
  }
  
  .projectDetails h2 {
    font-size: 2.5rem;
  }

  .picture {
    width: 465px;
    height: 260px; 
  }
}

@media (max-width: 500px){
  .projectPageContainer {
    width: 100%;
    padding: 20px;
    border-radius: 30px 30px 0 0;
  }

  .projectDetails p {
    font-size: 1.3rem;
  }  

  .status div{
    height: 20px;
    width: 20px;
  }

  .projectDetails h1 {
    font-size: 3rem;
  }
  
  .projectDetails h2 {
    font-size: 2rem;
  }

  .picture {
    width: 445px;
    height: 240px; 
  }
}